.container{
    width: 30.5rem;
    height: 16rem;
    background: white;
    padding: 1rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .channelTitle{
    color: rgb(182, 178, 178);
    font-size: 0.8rem;
    font-weight: bold;
  }

  .personCompetitors{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .profileImage{
    border-radius: 50%;
  }

  .right .name{
    font-weight: bold;
    font-size: 0.8rem;
  }
  .right .point{
    font-size: 0.8rem;
  }
  .right .place{
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  .personCompetitor{
    display: flex;
    gap: 1rem;
  }
  .personCompetitor .right{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .personCompetitor:nth-child(odd) .competitorIcon {
    color: rgb(31,224,143); 
  }
  
  .personCompetitor:nth-child(even) .competitorIcon {
    color: rgb(255,62,19); 
    transform: rotate(180deg);
  }

  